.Container{
	display: block;
  margin: 20px auto;
  max-width: 600px;
    text-align: center;
}
h1,h2{
	
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}
#Guess{
	display: inline-block;
	width: 20%;
}
#stripe{
	flex-direction: row;
	color: black;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	height: 30px;

}
h1{
	background-color: #669999;
}
#rgbColor{
	font-size:200%;
}
button{
	border:none;
	background:white;
	height: 100%;
	font-weight: 800;
	letter-spacing: 1px;
	color: #669999;
	width: 20%;
	transition: all .2s;
}
button:hover{
	color:white;
	background:#669999;
}
