body {
background-color :rgb(35, 35, 35);
margin:0;
font-family: monospace;
text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
